# RUST
**/debug/
**/target/
**/*.rs.bk
tarpaulin-report.html
Cargo.lock
*.pdb

# JAVASCRIPT
**/node_modules/
**/coverage/
**/pnpm-lock.yaml

# LOCAL TOOLS: SYSTEM, GIT, NIX, EDITORS
**/*.~undo-tree~
.vscode/
.DS_Store
.direnv/

# CUSTOM
**/.cache/
**/local/

# APPLICATION
**/**.env
**/**.env.**
**/dist/

